*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body  {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(237, 238, 240);
}

.chat-container  {
    width: 400px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgb(1, 95, 32);
    display: flex;
    flex-direction: column;
}

.chat-header  {
    padding: 20px;
    background-color: rgba(3, 59, 25, 0.966);
    color: white;
    border-radius: 10px 10px 0 0;

}

.chat-header h1 {
    font-size: 1.5rem;
    text-align: center;
}

.chat-message  {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.message  {
    margin-bottom: 15px;
    max-width: 80%;
    padding: 10px 15px;
    border-radius: 15px;
    word-wrap: break-word;
}

.bot-message  {
    background-color: rgba(92, 156, 221, 0.719);
    align-self: flex-start;
    border-radius: 15px 15px 15px 0;

}

.user-message  {
    background-color: rgb(0, 77, 29);
    color: white;
    margin: auto;
    border-radius: 15px 15px 0 15px;

}

.chat-input {
    padding: 20px;
    display: flex;
    gap: 10px;
    border-top: 1px solid rgb(255, 255, 255);
}

#user-input  {
    flex: 1;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    outline: none;

}

#send-button  {
    padding: 10px 20px;
    background-color:green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

}

#send-button:hover  {
    background-color: green;
}

